@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
body{
    background-color: #000000ce;
}


.cb-container + *  {
    display: none !important;
}